@model FirstMVCApp.Models.DogViewModel

@{

}
<h1>Hello World bro!</h1>
<p> This is the index page of HelloWorld controller</p>

<h4> A dog named @Model.Name says hello</h4>
<h4> @Model.Name is @Model.Age years old.</h4>